<div class="container">
  <h2 class="text-center">Lobby</h2>
  <div ng-sidebar class="sidebar"></div>
  <form ng-submit="postMessages()"> 
  </form>
  
  <div>Your Avatars:</div>
 
  <div class="col-md-4" ng-repeat = "(key, avatar) in avatars">
        <button ng-click="room(avatar)">Make game</button>  
        <strong>{{avatar.avatarName}}</strong>
       

        <div>{{avatar.aboutMe}}</div>
      
       <div ng-repeat="room in avatar.rooms">
      {{key}}
      <div class="roomHref" >
       	<a href="#/rooms/{{room.roomID}}/{{key}}">Go to room: {{room.roomID}}</a>
      </div>
       
       </div>

     </div>
   

  </div>

 
</div>