<h2 class='viewTitle'>Battle</h2>
<div ng-sidebar class="sidebar"></div>
<div class='roomView_chatContainer'>
  <div class='roomView_messagesContainer'>
    <div ng-repeat="message in messages">
      <div ng-repeat = "mess in message.messages"><br>
        <div class='roomView_messageRow'>
          <div class='roomView_avatarImage'
            style='
              background: 
                url({{ avatarIDMap[mess.avatarID].avatarImage }});
                background-size: cover;
                background-repeat: no-repeat;'
            ng-class='{
              "roomView_avatarImage_friendly": mess.avatarID !==
                opponentAvatarID,
              "roomView_avatarImage_opponent": mess.avatarID ===
                opponentAvatarID
          }'>
          </div>
          <div class="roomView_messageBlock"
            ng-class='{
              "roomView_messageBlock_friendly": mess.avatarID !==
                opponentAvatarID,
              "roomView_messageBlock_opponent": mess.avatarID ===
                opponentAvatarID
            }'><strong>{{ avatarIDMap[mess.avatarID].avatarName }}</strong><br />{{ mess.message }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form Container -->
  <div class='roomView_formContainer clearfix'>
    <form ng-submit="">
      <textarea type="text"
        ng-model="input"
        placeholder='Message...'
        id='roomView_messageField'
        rows='1'
        maxlength='144'></textarea>
      <button class='btn btn-primary'
        id='roomView_messageSubmit'
        ng-click="postMessage(input)">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      </button>
    </form>
    <div id='roomView_messageLength'></div>
    <div ng-show = "shower" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Its not you turn
    </div>
  </div>
</div>