./web/node_modules/

.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
node_modules/

# npm install opencv errors due to not finding itself in
# the node_modules folder. Exluding it from gitignore
# so everyone can get the library.
!node_modules/opencv
public/libs/

# Floobits
.floo
.floobit
.floo
.flooignore

# Temporary files
.~*

npm-debug.log

stanford-corenlp-3.3.1-models.jar
