/*Avatars View Profile Container*/
.avatarsView_profileContainer {
  border: 3px solid #cccccc;
  border-radius: 3%;
  overflow-y: hidden;
  margin: 0 0 0 1%;
  word-wrap: break-word;
}

/*Avatar Top Container*/
.avatarsView_topContainer {
  padding-bottom: 5%;
  border-bottom: 3px solid #cccccc;
  height: 30vh;
  overflow-y: hidden;
}

/*Avatar Remove Button*/
.avatarsView_button_remove {
  padding: 1vh 2vh;
  font-size: 3vh;
  float: left;
}

/*Avatar Edit Button*/
.avatarsView_button_edit {
  padding: 1vh 2vh;
  font-size: 3vh;
  float: right;
}

/*Avatar Bottom Container*/
.avatarsView_bottomContainer {
  padding: 0% 5%;
  height: 50vh;
  overflow-y: scroll;
  word-wrap: break-word;
}

/*Avatar Image*/
.avatarsView_avatarImage {
  margin-top: 2%;
  border-radius: 50%;
  border: .25vw solid #66A3FF;
  height: 20vh;
  width: 20vh;
  margin-left: auto;
  margin-right: auto;
  /*clear: both;*/
  position: relative;
  top: 0%;
}

/*Avatar Name*/
.avatarsView_avatarName {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  height: 4vh;
}

/*Avatar About*/
.avatarsView_avatarAbout {
  margin-top: 5%;
  font-size: 2.25vh;
}

/*Avatar About Title*/
.avatarsView_avatarAbout_title {
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

/*Avatar About Body*/
.avatarsView_avatarAbout_body {
  /*text-align: justify;*/
}

/*Avatar Stats*/
.avatarsView_avatarStats {
  margin-top: 25px;
}

/*Avatar Stats Title*/
.avatarsView_avatarStats_title {
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

/*Avatar Stat*/
.avatarsView_avatarStat {
  margin-bottom: 5px;
  font-size: 2.25vh;
}

/*Avatar Stat Name*/
.avatarsView_avatarStat_key {
  font-weight: bold;
  font-size: 1em;
}

/*Avatar Stat Value*/
.avatarsView_avatarStat_value {

}