/*Avatars View Profile Container*/
.lobbyView_profileContainer {
  border: 3px solid #cccccc;
  border-radius: 3%;
  overflow-y: hidden;
  margin: 0 0 1% 1%;
}

/*Avatar Top Container*/
.lobbyView_topContainer {
  margin-top: 2%;
  padding-bottom: 5%;
  border-bottom: 3px solid #cccccc;
}

/*Avatar Bottom Container*/
.lobbyView_bottomContainer {
  margin-top: 5%;
  padding: 0 1%;
  height: 47.5vh;
  overflow-y: scroll;
  word-wrap: break-word;
}

/*Room Container*/
.lobbyView_roomContainer {
  background-color: #dddddd;
  height: 15vh;
  width: 100%;
  margin: 1% auto;
  /*padding-top: 1%;*/
}

/*Opponent Image*/
.lobbyView_opponentImage {
  border-radius: 50%;
/*  height: 15vh;
  width: 15vh;*/
  height: 15vh;
  /*height: 100%;*/
  width: 15vh;
  /*width: 25%;*/
  float: left;
}

/*Room Summary*/
.lobbyView_roomSummary {
  float: right;
  background-color: #cccccc;
  height: 100%;
  width: 60%;
}

/*Room Summary Opponent Name*/
.lobbyView_opponentName {
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}

/*Room Summary Button View Game*/
.lobbyView_button_viewGame {
  margin: 2.5% 0 0 12.5%;
  width: 75%;
  height: 75%;
  font-size: 150%;
  font-weight: bold;
  white-space: normal;
  padding: 0 !important;
}

/*Room Summary Button Play Game*/
.lobbyView_button_playGame {
  margin: 2.5% 0 0 12.5%;
  width: 75%;
  height: 75%;
  font-size: 150%;
  font-weight: bold;
  white-space: normal;
  padding: 0 !important;
}

/*Matchmaking Container*/
.lobbyView_matchmakingContainer {
  position: relative;
  top: -2.5vh;
  background-color: #333333;
  height: 10vh;
}

/*Matchmaking Button*/
.lobbyView_button_findGame {
  /*margin: 25% 0 0 12.5%;*/
  margin: 2.5% 0 0 12.5%;
  width: 75%;
  height: 7.5vh;
  font-size: 150%;
  font-weight: bold;
  white-space: normal;
  padding: 0 !important;
}