/*Avatars View Profile Container*/
.lobbyView_profileContainer {
  border: 3px solid #cccccc;
  border-radius: 3%;
  overflow-y: hidden;
  margin: 0 0 0% 1%;
  word-wrap: break-word;
}

/*Avatar Top Container*/
.lobbyView_topContainer {
  padding-bottom: 5%;
  border-bottom: 3px solid #cccccc;
  height: 30vh;
  overflow-y: hidden;
}

/*Avatar Bottom Container*/
.lobbyView_bottomContainer {
  word-wrap: break-word;
}

/*Avatar Bottom Container Title*/
.lobbyView_bottomContainer_title {
  height: 8vh;
  text-align: center;
  background-color: #222222;
  color: white;
  padding-top: 1vh;
  font-size: 4vh;
  font-weight: bold;
  border-bottom: 3px solid #cccccc;
}

/*Avatar Bottom Container Content*/
.lobbyView_bottomContainer_Content {
  height: 32vh;
  overflow-y: scroll;
}

/*Room Container*/
.lobbyView_roomContainer {
  background-color: #dddddd;
  width: 100%;
  margin: 1% auto;
}

/*Opponent Image*/
.lobbyView_opponentImage {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  float: left;
}

/*Room Summary*/
.lobbyView_roomSummary {
  float: right;
  height: 10vh;
  background-color: #cccccc;
  height: 100%;
  width: 70%;
  text-align: center;
}

/*Room Summary Opponent Name*/
.lobbyView_opponentName {
  font-size: 3vh;
  font-weight: bold;
}

/*Room Summary Button Redirect*/
.lobbyView_button_game {
  height: 6vh;
  font-size: 3vh;
  padding: 1vh 2vh;
  font-weight: bold;
  white-space: normal;
}

/*Room Summary Button Closed Game*/
.lobbyView_button_game_closed {
  background-color: #444444;
  color: white;
}
.lobbyView_button_game_closed:hover,
.lobbyView_button_game_closed:active {
  color: white;
  background-color: #222222;
}
.lobbyView_button_game_closed:focus {
  color: white;
}

/*Matchmaking Container*/
.lobbyView_matchmakingContainer {
  background-color: #222222;
  height: 8vh;
  text-align: center;
  padding: 1vh 0;
}

/*Matchmaking Button*/
.lobbyView_button_findGame {
  height: 6vh;
  font-size: 3vh;
  padding: 1vh 2vh;
  font-weight: bold;
  white-space: normal;
}