/*Room View Chat Container*/
.roomView_chatContainer {
  width: 75%;
  margin: 0 auto;
  border: 3px solid #cccccc;
  border-radius: 3%;
}

/*Messages Container*/
.roomView_messagesContainer {
  overflow-y: scroll;
  border-bottom: 3px solid #cccccc;
  height: 65vh;
}


/*Message Row*/
.roomView_messageRow {
  clear: both;
  word-wrap: break-word;
}

/*Message Block*/
.roomView_messageBlock {
  width: 40%;
  padding: 1%;
  border-radius: 5px;
  margin-top: 1.5%;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

/*Opponent Message Block*/
.roomView_messageBlock_opponent {
  float: left;
  margin-left: .25%;
  background-color: #FF6969;
}

/*Friendly Message Block*/
.roomView_messageBlock_friendly {
  float: right;
  margin-right: .25%;
  background-color: #66A3FF;
}

/*Avatar Image*/
.roomView_avatarImage {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  border: .25vw solid white;
}

/*Opponent Avatar Image*/
.roomView_avatarImage_opponent {
  border-color: #FF6969;
  float: left;
}

/*Friendly Avatar Image*/
.roomView_avatarImage_friendly {
  border-color: #66A3FF;
  float: right;
}

/*Form Container*/
.roomView_formContainer {
  text-align: center;
  padding: 1vh;
}

/*Message Field*/
#roomView_messageField {
  float: left;
  border-radius: 3%;
  font-size: ;
  border: 3px solid #cccccc;
  /*resize: none;*/
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
  padding: 1%;
  width: 90%;
}
#roomView_messageField:focus {
  outline: none;
}

/*Message Submit*/
#roomView_messageSubmit {
  margin-left: 1%;
  width: 9%;
  height: ;
  float: left;
  height: 6vh;
  font-size: 3vh;
}

/*Message Length*/
#roomView_messageLength {
  width: 95%;
  height: 6vh;
  clear: both;
  color: #999999;
  text-align: left;
  padding: 1%;
}