/*Room View Sub Title*/
#roomView_SubTitle {
  margin-top: -1vh;
  text-align: center;
  background-color: #222222;
  width: 25%;
  font-size: 3vh;
  margin-left: 37.5%;
  padding: 1vh;
  border-radius: 1vh;
}

/*Room View Sub Title Open*/
#viewSubTitle_open {
  color: #5cb85c;
}

/*Room View Sub Title Judging*/
#viewSubTitle_judging {
  color: #d9534f;
}

/*Room View Sub Title Judging*/
#viewSubTitle_closed {
  color: #999999;
}

/*Room View Info Container*/
.roomView_infoContainer {
  width: 18%;
  margin: 5vh 1% 0 1%;
  float: left;
  text-align: center;
  border: 3px solid #cccccc;
  height: 50vh;
}

/*Room View Info Container Top*/
.roomView_infoContainer_top {
  padding-top: 1vh;
  height: 40%;
  overflow-x: hidden;
  font-weight: bold;
}

/*Room View Info Container Top Friendly*/
.roomView_infoContainer_topFriendly {
  background-color: #66A3FF;
}

/*Room View Info Container Top Opponent*/
.roomView_infoContainer_topOpponent {
  background-color: #FF6969;
}

/*Room View Info Image*/
.roomView_infoImage {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin: 0 auto;
}

/*Room View Avatar Name*/
.roomView_avatarName {
  margin-top: 1vh;
}

/*Room View Info Container Bottom*/
.roomView_infoContainer_bottom {
  padding: 5%;
  text-align: left;
  overflow-y: scroll;
  height: 60%;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

/*Room View Chat Container*/
.roomView_chatContainer {
  width: 60%;
  /*  margin: 0 auto;*/
  float: left;
  border: 3px solid #cccccc;
  border-radius: 3%;
}

/*Messages Container*/
.roomView_messagesContainer {
  overflow-y: scroll;
  border-bottom: 3px solid #cccccc;
  height: 60vh;
  padding: 1%;
}


/*Message Row*/
.roomView_messageRow {
  clear: both;
  word-wrap: break-word;
}

/*Message Block*/
.roomView_messageBlock {
  width: 40%;
  padding: 1%;
  border-radius: 5px;
  margin-top: 1.5%;
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

/*Opponent Message Block*/
.roomView_messageBlock_opponent {
  float: left;
  margin-left: .25%;
  background-color: #FF6969;
}

/*Friendly Message Block*/
.roomView_messageBlock_friendly {
  float: right;
  margin-right: .25%;
  background-color: #66A3FF;
}

/*Avatar Image*/
.roomView_avatarImage {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  border: .25vw solid white;
}

/*Opponent Avatar Image*/
.roomView_avatarImage_opponent {
  border-color: #FF6969;
  float: left;
}

/*Friendly Avatar Image*/
.roomView_avatarImage_friendly {
  border-color: #66A3FF;
  float: right;
}

/*Form Container*/
.roomView_formContainer {
  text-align: center;
  padding: 1vh;
}

/*Message Field*/
#roomView_messageField {
  float: left;
  border-radius: 3%;
  font-size: ;
  border: 3px solid #cccccc;
  /*resize: none;*/
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
  padding: 1%;
  width: 90%;
}
#roomView_messageField:focus {
  outline: none;
}

/*Message Submit*/
#roomView_messageSubmit {
  margin-left: 1%;
  width: 9%;
  height: ;
  float: left;
  height: 6vh;
  font-size: 3vh;
}

/*Message Length*/
#roomView_messageLength {
  width: 95%;
  height: 6vh;
  clear: both;
  color: #999999;
  text-align: left;
  padding: 1%;
}