/*Styles Body*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*Container div*/
.container {
  position: relative;
  float: left;
  left: 75px;
}

/*Sidebar overall space*/
.sidebar {
  position : fixed;
  left:-30px;
  top: 0;
}

/*unordered list, which is how the sidebar elements are built*/
ul {
  list-style-type: none;
}

/*room styling*/
.message{
  background-color: blue;
}

.roomHref{
  color: green;
  height: 30px;
  background-color: grey;
}

/*circular anchor tags with pictures; used to navigate the app*/
.navigation-items a{
  display: block;
  background-color: #f7f7f7;
  opacity: 0.7;
  color: #a7a7a7;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  position: relative;
  border-radius: 50%;
}

/*circular anchor tags on hover option*/
.navigation-items a:hover {
  box-shadow: 0px 0px 20px #000000, inset 0px 0px 10px #fff;
}

/*information divs regarding the anchor pictures*/
.navigation-items div {
  z-index: initial;
  position: relative;
  transition: all .5s ease-out; 
  -webkit-transition: all .5s ease-out; 
  left: 85px;
  top: 85px;
  font-family: "Courier New";
  font-size: 0px;
}

/*popup abilities to the info divs*/
.navigation-items div.show {
  font-size: 26px;
  left: 110px;
  transition: all .5s ease-out; 
  -webkit-transition: all .5s ease-out;
}
