/*Styles Body*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*Container div*/
.container {
  position: relative;
  float: left;
  left: 20vh;
  width: 80vw;
}

/*Sidebar overall space*/
.sidebar {
  position : fixed;
  left:-300px;
  top: 0;
  transition: all .5s ease-out; 
  -webkit-transition: all .5s ease-out;
}

.avImg{
  border-radius: 30px;
}

.sidebar.slide{
  position : fixed;
  left:-30px;
  top: 0;
  transition: all .5s ease-out; 
  -webkit-transition: all .5s ease-out;
}

/*unordered list, which is how the sidebar elements are built*/
ul {
  list-style-type: none;
}

/*room styling*/
.message {
  background-color: green;
  height: 30px;
  width: 300px;
  white-space: pre;
}
.nameDiv {
  height: 350px;
  background-color: grey;
  border-radius: 20px;
  padding: 10px;
  white-space: pre;
}
.sender {
  color: red;
}

.avatar {
  color: green;
}

.avatars  {
  margin-right: 10px;
  padding: 10px;
  background-color: #95a5a6;
  height: 75vh;
}

.col-md-4 {
  padding: 0px;
}
.roomHref {
  color: green;
  height: 30px;
  background-color: grey;
}

/*circular anchor tags with pictures; used to navigate the app*/
.navigation-items a {
  position: relative;
  display: block;
  background-color: #f7f7f7;
  opacity: 0.7;
  color: #a7a7a7;
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  border-radius: 50%;
}

/*circular anchor tags on hover option*/
.navigation-items a:hover {
  box-shadow: 0px 0px 20px #000000, inset 0px 0px 10px #fff;
}

/*selected button will stay shadowed*/
.navigation-items a.selected {
  box-shadow: 0px 0px 20px #000000, inset 0px 0px 10px #fff;
}

/*information divs regarding the anchor pictures*/
.navigation-text {
  position: relative;
  left: 11vh;
  top: 6.8vh;
  height: 0vh;
  width: 0vw;
}

.navigation-items div {
  transition: all .5s ease-out; 
  -webkit-transition: all .5s ease-out; 
  font-family: "Courier New";
  font-size: 0vh;
}

/*popup abilities to the info divs*/
.navigation-items div.show {
  font-size: 2.5vh;
}

.upvote{
  padding: 20px;
  border-radius: 15px;
  color: green;
}
