/*Voting View Middle Container*/
#votingView_midContainer {
  width: 60%;
  /*  margin: 0 auto;*/
  float: left;
  /*border: 3px solid #cccccc;*/
  /*border-radius: 3%;*/
}

/*Voting View Chat Container*/
#votingView_chatContainer {
  /*width: 60%;*/
  /*  margin: 0 auto;*/
  /*float: left;*/
  border: 3px solid #cccccc;
  border-radius: 3%;
}

/*Voting View Messages Container*/
.votingView_messagesContainer {
  overflow-y: scroll;
  height: 60vh;
  padding: 1%;
}

/*Voting View Vote Container*/
#votingView_voteContainer {
  margin-top: 2vh;
  text-align: center;
  height: 20vh;
}

/*Voting View Vote Button*/
.votingView_voteButton {
  height: 10vh;
  width: 20%;
  margin: 0 10%;
  word-wrap: break-word;
}

/*Voting View No Rooms Container*/
#noRoomsContainer {
  margin-top: 25vh;
  text-align: center;
}