body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar {
  position : fixed;
  left:-30px;
  top: 0;
}

ul {
  list-style-type: none;
}

.navigation-items a{
  display: block;
  background-color: #f7f7f7;
  opacity: 0.7;
  color: #a7a7a7;
  width: 100px;
  height: 100px;
  top: 25px;
  position: relative;
  border-radius: 50%;
}

.navigation-items a:hover {
  box-shadow: 0px 0px 20px #000000, inset 0px 0px 10px #fff;
}

.navigation-items div {
  z-index: initial;
  position: relative;
  transition: all .5s ease-out; 
  -webkit-transition: all .5s ease-out; 
  left: 85px;
  top: 85px;
  font-family: "Courier New";
  font-size: 0px;
}

.navigation-items div.show {
  font-size: 26px;
  left: 110px;
  transition: all .5s ease-out; 
  -webkit-transition: all .5s ease-out;
}
