<h2 class='viewTitle'>{{ user.username }}'s avatars</h2>
<img src="" id="imageToUpload" style="height:0px;width:0px">
<!-- Avatar List Display -->
<div class="col-md-4" ng-repeat="(key, value) in user.avatars">

  <!-- Avatar Profile Container -->
  <div class="avatarsView_profileContainer">

    <!-- Avatar Top Container (non scrollable) -->
    <div class='avatarsView_topContainer'>

      <!-- Avatar Remove Button -->
      <button type="button"
      class="btn btn-danger avatarsView_button_remove"
      aria-label="Left Align"
      ng-click='removeAvatar()'>
        <span class="glyphicon glyphicon glyphicon-remove"
        aria-hidden="true">
        </span>
      </button>

      <!-- Avatar Edit Button -->
      <button type="button"
      class="btn btn-info avatarsView_button_edit"
      ng-click="loading=false"
      aria-label="Left Align"
      data-toggle="modal"
      data-target="#editAvatar{{ key }}">
        <span class="glyphicon glyphicon glyphicon-pencil"
        aria-hidden="true">
        </span>
      </button>

      <!-- Image -->
      <div class='avatarsView_avatarImage'
      style="background: url({{ value.imageSource }});background-size: cover;background-repeat: no-repeat;background-position: top;"></div>

      <!-- Avatar name -->
      <div class='avatarsView_avatarName'>
        {{ value.avatarName }}
      </div>
    </div>

    <!-- Avatar Bottom Container (scrollable) -->
    <div class='avatarsView_bottomContainer'>

      <!-- Avatar about -->
      <div class='avatarsView_avatarAbout'>
        <div class='avatarsView_avatarAbout_title'>
          About
        </div>
        <div class='avatarsView_avatarAbout_body'>
          {{ value.aboutMe }}
        </div>
      </div>

      <!-- Avatar stats -->
      <div class='avatarsView_avatarStats'>
        <div class='avatarsView_avatarStats_title'>
          Stats
        </div>
        <div ng-repeat='(k, v) in value.stats'>
          <div class='avatarsView_avatarStat'>
            <span class='avatarsView_avatarStat_key'>{{ k }}:</span>
            <span class='avatarsView_avatarStat_value'>{{ v }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- edit avatar data -->
    <div id="editAvatar{{ key }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">      
          <div class="modal-body">
            <form ng-submit="editAvatar()">
              <fieldset class="form-group">
                <label>Avatar Name</label>
                <div>{{ value.avatarName }}</div>
              </fieldset>
              <fieldset class="form-group">
                <label>About me</label>
                <textarea class="form-control editAboutMe"
                rows="3"
                required="required"
                placeholder="Who is {{ value.avatarName }}?">{{ user.avatars[key].aboutMe }}</textarea>
              </fieldset>
              <fieldset class="form-group">
                <label>Image</label>
                <input type="file" class="form-control" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 'canvas#edit')"/>
                <canvas class="" id="edit"></canvas>
              </fieldset>
              <button ng-show="!loading" type="submit" class="btn btn-primary">Edit Avatar</button>
              <div ng-show="loading" id="loading"></div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Avatar Button -->
<div ng-show='showadd'
  id='avatarView_addAvatarContainer'
  class='col-md-4'>
  <button id='avatarView_addAvatarBtn'
    class="btn btn-primary"
    ng-click="loading=false"
    data-toggle="modal"
    data-target="#addAvatar">
    <span id='avatarView_addAvatarBtn_Plus'
      class="glyphicon glyphicon-plus"
      aria-hidden="true">
    </span>
    <span class="glyphicon glyphicon-user"
      aria-hidden="true">
    </span>
  </button>
</div>

<!-- add avatar data -->
<div id="addAvatar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <form ng-submit="addAvatar()">
          <fieldset class="form-group">
            <label>Avatar Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="avatarName" required="required" ng-init="element.focus()">
          </fieldset>
          <fieldset class="form-group">
            <label>About me</label>
            <textarea class="form-control"
            ng-model="aboutMe"
            rows="3"
            required="required"
            placeholder="Who is {{ avatarName }}?">
            </textarea>
          </fieldset>
          <fieldset class="form-group">
            <label for="exampleInputFile">Add picture</label>
            <input type="file" class="form-control" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 'canvas#add')"/>
            <canvas class="" id="add"></canvas>
          </fieldset>
          <button ng-show="!loading" type="submit" class="btn btn-primary">Add Avatar</button>
          <div ng-show="loading" id="loading"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Invoke CSS adjustment when loading view -->
<script>$(window).resize();</script>
