<div class="container">
  <h2 class="text-center">{{ user.username }}</h2>
  <div ng-sidebar class="sidebar"></div>
  <div class="row">Avatars</div>
  <div class="col-md-4 avatars" ng-repeat="(key, value) in user.avatars">
    <button ng-click="showEdit=!showEdit;display=!display">Edit</button>
    <div ng-show="!display" class="avatarValues">
      <div>{{ value.avatarName }}</div>
      <div>{{ value.imagePath }}</div>
      <div>{{ value.aboutMe }}</div>
      <button ng-click="removeAvatar()">Remove</button>
    </div>
    <div ng-show="showEdit" class="editAvatar">
      <form class="col-md-4" ng-submit="editAvatar()">
        <label>Avatar Name</label>
        <input type="text" ng-model="value.avatarName">
        <label>Image Path</label>
        <input type="text" ng-model="value.imagePath">
        <label>About Me</label>
        <input type="text" ng-model="value.aboutMe">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <button class="col-md-4" ng-show="showadd" ng-click="addForm=!addForm">Add New Player</button>
  <form class="col-md-4" ng-show="addForm" ng-submit="addAvatar()">
    <label>Avatar Name</label>
    <input type="text" ng-model="avatarName">
    <label>Image Path</label>
    <input type="text" ng-model="imagePath">
    <label>About Me</label>
    <input type="text" ng-model="aboutMe">
    <input type="submit" value="Submit">
  </form>
</div>