<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VerBattle</title>

  <script src="/libs/jquery/dist/jquery.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/libs/angular/angular.js"></script>
  <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/libs/angular-route/angular-route.min.js"></script>

  <script src="/services/services.js"></script>
  <script src="/user/signin.js"></script>
  <script src="/user/signup.js"></script>
  <script src="/app.js"></script>

  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body ng-app="VBattle">
  <div ng-view></div>
</body>



</html>