<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VerBattle</title>

  <script src="/libs/jquery/dist/jquery.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/libs/angular/angular.js"></script>
  <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/libs/angular-route/angular-route.min.js"></script>

  <script src="/services/services.js"></script>
  
  <script src="/auth/signin.js"></script>
  <script src="/auth/signout.js"></script>
  <script src="/auth/signup.js"></script>
  <script src="/sidebar/sidebar.js"></script>
  <script src="/profile/profile.js"></script>
  <script src="/profile/setting.js"></script>
  <script src="/gameplay/battle.js"></script>
  <script src="/gameplay/pending.js"></script>
  <script src="/social/search.js"></script>
  
  <script src="/app.js"></script>

  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body ng-app="VBattle">
  <div class="container">
    <div ng-view></div>
  </div>
</body>


</html>