<div class="row">
  <h2 class="text-center">Sign up</h2>
  <form name="signupForm" class="form-group" ng-submit="signup()">
    <label id="label_signup">Name:</label>
    <input type="text" class="form-control signup" ng-model="username">
    <label id="label_signup">Password:</label>
    <input type="password" class="form-control signup" ng-model="password">
    <label id="label_signup">Email:</label>
    <input type="email" class="form-control signup" ng-model="email">
    <input type="submit" class="signup" value='Sign Up'>
  <a href="#/signin">Log in</a>
  </form>
</div>
