<!-- Title -->
<div id='homeView_title'>
  ButterUp
</div>

<div ng-overview></div>
<div class="row">
  <div id='authContainer'
    class='col-md-6 col-md-offset-3'>
    <h2 class="text-center">Log In</h2>
    <div id='authView_inputContainer'>
      <form name="signinForm" class="form-group" ng-submit="signin()">
        <label id="label_signin">Name</label>
        <input type="text"
          class="form-control signin authForm_inputText"
          ng-model="username"
          placeholder='Username'>
        <br />
        <label id="label_signin">Password</label>
        <input type="password"
          class="form-control signin authForm_inputText"
          ng-model="password"
          placeholder='Password'>

        <!-- Button Container -->
        <div id='auth_btnContainer'>
          <button type='submit'
            class='btn btn-warning auth_btnSubmit'>Submit
          </button>
          <a href="#/signup">
            <button type='button'
              class='btn btn-primary auth_btnSubmit'>
              Sign Up
            </button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
